@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
body {
  height: 100vh;
  font-size: small;
  font-family: arial,sans-serif;
}
nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
main {
  padding-top: 15vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search-bar {
  margin-top: 2em;
  position: relative;
}
.search {
  width: 80vw;
  max-width: 550px;
  height: 2.1em;
  border-radius: 200px;
  border: 1px rgba(0, 0, 0, 0.15) solid;
  padding: 5px 5px 5px 40px;
}

.search:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.search-logo {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 14px;
  left: 15px;
  opacity: 0.4;
}

.keyboard-logo {
  position: absolute;
  width: 20px;
  height: 25px;
  top: 9px;
  right: 15px;
  opacity: 0.5;
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  color: black;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  height: 7vh;
  width: 200px;
}

.nav-logo {
  width: 15px;
  height: 15px;
  opacity: 0.7;
}

.nav-logo:hover {
  opacity: 1;
}

.nav-circle {
  background: #90259e;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  opacity: 0.8;
}
